{% extends 'base.html.twig' %}

{% block title %} Information de l'association : {{association.nom}}{% endblock %}

{% block body %}
<center>
<h1 class="border border-dark rounded p-2 m-2 text-white bg-primary"> Information de l'association : {{association.nom}}</h1>
<hr><hr>
<style>
</style>

<div>
    <h3> {{association.nom}}</h3>
        <h4>
            Responsable : {{association.prenomContact}} {{association.nomContact}}
            <br><br>
            Téléphone : {{association.tel}}<br>
        <a>Mail : </a>
        <a class="btn btn-outline-dark" href={{association.email}}>{{association.email}}</a>
            </a>
        </h4>

        <br>
        <a href="{{ path('afficheassociation', {'id':association.id}) }}">
        <img src="{{asset('#') }}" style="width:200px">
        </a><br>
        <br>
        <a class="btn btn-outline-dark" href="/association">RETOUR A LA LISTE</a><br>

    {% if (is_granted('ROLE_ADMIN')) %}
        <a class="btn btn-outline-dark" href="{{ path('modifassociation', {'id':association.id}) }}">MODIFIER</a><br>
    {% endif %}
        <hr>
</center>
{% endblock %}
