{% extends 'base.html.twig' %}

{% block title %}Modifier l'association : {{association.nom}}{% endblock %}

{% block body %}
<style>
</style>

<center>
    <h1 class="border border-dark rounded p-2 m-2 text-white bg-primary">Ajouter / Modifier une association : {{association.nom}}</h1>
<br>
    <div class="form">
    {{form_start(form)}}
    {{form_widget(form)}}
    {{form_end(form)}}
    </div>
</center>
{% endblock %}
