{% extends 'base.html.twig' %}

{# {% block title %}Changer un acteur{% endblock %}

{% block body %}
<h1>{{actor.nom}} {{actor.prenom}}</h1>
{{form_start(form)}}
{{form_widget(form)}}
<input type="submit" value="enregistrer">
{{form_end(form)}}

{% endblock %}


{% extends 'base.html.twig' %}

{% block title %}Produit{% endblock %} #}

{% block body %}
<style>
    body {
        text-align:center;
    }
    section {
        width:900px;
        margin-left: auto;
        margin-right: auto;
        border: solid #000;
        display:inline-block;
        padding: 4px;

    }

    .image {
        width:50%;
        float:left;
    }

    .description {
        width:50%;
        float:right;
    }
</style>

<section><h1>NOM DU PRODUIT</h1>
    <div class="image">
    <img src="images/ajoutproduit.jpg">
    {# <img src="{{asset('images/produits/' ~ p.image )}}"> #}
    Image</div>
    <div class="description"><p>Ajouter une description
    {# {{p.description}} #}
    </p>
        <h2>Prix  Quantité {# {{p.prix}} {{p.quantite}} #}</h2></div>
</section>
{% endblock %}