{% extends 'base.html.twig' %}

{% block title %}Produit{% endblock %}

{% block body %}
<style>
    body {
        text-align:center;
    }

    div.titre {
        border: solid #000;
    }

    section {
        width:900px;
        margin-left: auto;
        margin-right: auto;
        border: solid #000;
        display:inline-block;
        padding: 4px;

    }

    .produit {
        width:50%;
        float:left;
    }


</style>
<div id="titre">VOTRE PANIER</div>
<section>
{% for pc in produitCommande %}
    {% if produitCommande.commande==commande.id %}
        <div class="produit">
        {% for p in produit %}
            {% if pc.produit==p.id %}
                {% for ph in p.photoProduits %}
                    <img src="{{asset('images/' ~ ph.lien )}}"></a>
                {% endfor %}
                <h2>{{p.nom}} | {{pc.quantite}} | {{pc.prix}} | {{pc.quantite * pc.prix}} €</h2>
               {#  remplissage d'une liste avec sous_total+=pc.quantite*pc.prix et total+=pc.quantite*pc.prix*tva #}
            {% endif %}
        {% endfor %}
        </div>

    {% endif %}
{% endfor %}
</section>
<div>sous-total | TVA | total <br/>
<button>Retour à la boutique</button> <button>PAYER</button> <button>ANNULER</button></div>

{% endblock %}

