{% extends 'base.html.twig' %}

{% block title %}Produit
{% endblock %}

{% block body %}
	<style>
		body {
			text-align: center;
		}

		h1.titre {
			border: 1px solid #000;
			margin-left: auto;
			margin-right: auto;
		}

		table {
			margin-left: auto;
			margin-right: auto;
		}
	</style>
	<h1 class="titre">VOTRE PANIER</h1>
	<table>
		<tr>
			<td>IMAGE</td>
			<td>NOM</td>
			<td>{% set quantite1=5 %}
				{{quantite1}}
				|
				{% set prix1=10 %}
				{{prix1}}
				€  |
				{% set total = quantite1 * prix1 %}
				{{ quantite1 * prix1 }}
				€</td>
		</tr>
		<tr>
			<td>IMAGE2</td>
			<td>NOM2</td>
			<td>{% set quantite2=10 %}
				{{quantite2}}
				|
				{% set prix2=7 %}
				{{prix2}}
				€  |
				{% set total = total + quantite2 * prix2 %}
				{{ quantite2 * prix2 }}
				€</td>
		</tr>
	</table>
	<h2>PRIX TOTAL :
		{{total}}
		€
	</h2>
<div class="test">

</div>
	<button>Lien vers la boutique</button>
	<a href="{{path('paiement')}}">
		<button>PAYER</button>
	</a>
	<button>ANNULER</button>
</div>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2623.717842290038!2d2.3352748159035768!3d48.88265520695157!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66e45c7d2be55%3A0x27f567db498820b5!2s22%20Bd%20de%20Clichy%2C%2075018%20Paris!5e0!3m2!1sfr!2sfr!4v1643211034960!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
{% endblock %}

